<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3.1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>MemberFrontController</servlet-name>
    <servlet-class>com.itwillbs.member.action.MemberFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberFrontController</servlet-name>
    <url-pattern>*.me</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>BoardFrontController</servlet-name>
    <servlet-class>com.itwillbs.board.action.BoardFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardFrontController</servlet-name>
    <url-pattern>*.bo</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>QnaFrontController</servlet-name>
    <servlet-class>com.itwillbs.qna.action.QnaFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QnaFrontController</servlet-name>
    <url-pattern>*.qn</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>QnaCommFrontController</servlet-name>
    <servlet-class>com.itwillbs.qna_comm.action.QnaCommFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QnaCommFrontController</servlet-name>
    <url-pattern>*.co</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>CarInfoFrontController</servlet-name>
    <servlet-class>com.itwillbs.carinfo.action.CarInfoFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarInfoFrontController</servlet-name>
    <url-pattern>*.ci</url-pattern>
  </servlet-mapping>
</web-app>